# Entorno virtual
.venv/

# Variables de entorno
.env

# Archivos generados por Python
__pycache__/
*.py[cod]
*$py.class

# Configuración del editor
.vscode/
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db